<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>095237EF-CB98-4983-98CA-83F66A73178A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DE2D8B6-3BF1-4863-84D8-F0B68E137F41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69A63EEA-091B-4D6D-9672-47DE8BD85E50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD1ED486-B313-49DE-9BA2-EC2501530CC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DE2D8B6-3BF1-4863-84D8-F0B68E137F41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DDB77EE-5CEF-4043-8A15-044F5C91A8E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AF52CE3F-1195-4F5E-9C7D-CE2518EA16E2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96C64FAC-03D1-4FBE-A1FA-44283E500743</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AF52CE3F-1195-4F5E-9C7D-CE2518EA16E2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD1ED486-B313-49DE-9BA2-EC2501530CC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CB7E26E-B9F3-4389-97A5-C63CE551B514</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0366647-0046-4E4F-ACC6-8C671D6CB62A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>095237EF-CB98-4983-98CA-83F66A73178A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>LacheRo`</string>
	<key>description</key>
	<string>Converts JS object/JSON string to pretty JSON</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JSON Prettier</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>#!/usr/bin/env python3
import json
import os
import sys
import time

# 获取当前时间戳
timestamp = int(time.time())

# 要写入的字符串
query = sys.argv[1]
# 找到第一个{的位置
index = query.find("{")
# 找到最后一个}的位置
index2 = query.rfind("}")
if index != -1 and index2 != -1:
    query = query[index:index2 + 1]
else:
    print("没有找到{")
    exit(1)
json_object = json.loads(query)

query = json.dumps(json_object, indent=2)
# 构造文件路径
file_path = "/tmp/json_format/{}.json".format(timestamp)

# 如果文件夹不存在, 则创建
if not os.path.exists("/tmp/json_format"):
    os.makedirs("/tmp/json_format")
# 打开文件并写入字符串
with open(file_path, "w") as f:
    f.write(query)
    f.close()

os.system(f'open -a "Google Chrome" {file_path}')
# print(file_path)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/panjianbo/Projects/alfred/write_clipboard_to_file.py</string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2CB7E26E-B9F3-4389-97A5-C63CE551B514</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>return (the clipboard)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CD1ED486-B313-49DE-9BA2-EC2501530CC3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>json</string>
				<key>subtext</key>
				<string>Format and paste JSON on clipboard</string>
				<key>text</key>
				<string>JSON</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69A63EEA-091B-4D6D-9672-47DE8BD85E50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Invalid input on clipboard</string>
				<key>title</key>
				<string>JSON Prettier</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0DDB77EE-5CEF-4043-8A15-044F5C91A8E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>../alfred-python/pretty_json.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>095237EF-CB98-4983-98CA-83F66A73178A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>Err</string>
						<key>uid</key>
						<string>AF52CE3F-1195-4F5E-9C7D-CE2518EA16E2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Success</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8DE2D8B6-3BF1-4863-84D8-F0B68E137F41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F0366647-0046-4E4F-ACC6-8C671D6CB62A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>96C64FAC-03D1-4FBE-A1FA-44283E500743</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>095237EF-CB98-4983-98CA-83F66A73178A</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>0DDB77EE-5CEF-4043-8A15-044F5C91A8E0</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>2CB7E26E-B9F3-4389-97A5-C63CE551B514</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>69A63EEA-091B-4D6D-9672-47DE8BD85E50</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>8DE2D8B6-3BF1-4863-84D8-F0B68E137F41</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>96C64FAC-03D1-4FBE-A1FA-44283E500743</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>CD1ED486-B313-49DE-9BA2-EC2501530CC3</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>F0366647-0046-4E4F-ACC6-8C671D6CB62A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/lacherogwu/alfred-workflows-json-prettier</string>
</dict>
</plist>
